<a href="https://colab.research.google.com/github/srinivasan-06/Python_for_DataScience-/blob/main/Python_basic_Rachel(27_09_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Target:

1. Programming Languages
2. What is python and why python?
3. Where else we can use python?
4. How to run the cell
5. Comments
6. variables
7. Rules to writee the name of the variable
8. Data Types


      * Three Types of basic data types:

         1. Numeric Data
         2. Text Data
         3. Boolean Data


9. Type casting
10. Adv. data types


            1. Sequential data type
                
                    * List
                    * tuple
                    * string

            2. Non sequential data types
             
                   * Set
                   * Dictionary


11. Indexes and sclicing
12. Operators
13. Conditional Statements
14. Looping
      
       
       * Control flow Statement

15. Function
16. Lambda Function

# Programming Languages

* It is medium to communicate with machine(your system)
* We have different types of programming lanuaages(Java,JavaScript,C++,C#,Python,...)
* We need to follow Grammer rules( keyword alert: Syntax)
* Keywords: For,while,if,else,elif...

# What is python and why python?

* Python is an interpreter Programming Language.
* Python is case sensitive.
* Python is very similar to english
* Python is having large number of liabraies/modules/packages.

# Where else we can use python?

* Data Science
* Data Visuazation
* Game Dev
* Backend development
* AI/ML

In [ ]:
print('hello1')
print('hello2')
print('hello3')
print('hello4')
print('hello5')
print('hello6')
print('hello7')
print('hello8')
Print('hello9')
print('hello10')

hello1
hello2
hello3
hello4
hello5
hello6
hello7
hello8

NameError: name 'Print' is not defined

In [ ]:
print("Hello World!") # shift+enter

Hello World!

In [ ]:
# surjit
# pooja
# niranjan
# ctrl+/

'''
fuhdjwefd
eqwfnjwefdm
fejwwfdnkejfhe
dsnfhwnekmdsld
jnmed ,k ewd
'''

print('comments are the non excutable line of code')

comments are the non excutable line of code

# Variable
It is a container that stores different types of data(numbers, text)

In [ ]:
num=10
print(num)

10

In [ ]:
print(type(num)) # type()-> gives you the datatype of a varible

<class 'int'>

In [ ]:
name='Ananya'
print(name)
print(type(name))

Ananya
<class 'str'>

# Rules to write the name of the variable

* Variable are case sensitive
* Keywords must not be used as a variable name(print,for ,in ,if, for, while,pass,..)
* You cannot start a varible with a number but can end it with a number
* We cannot use symbols or give white spaces between the multi word varibale.

In [ ]:
x=25
X=20
print(x,X)

25 20

In [ ]:
1num=20

SyntaxError: invalid decimal literal (ipython-input-1979717877.py, line 1)

In [ ]:
num1=20
print(num1)

20

In [ ]:
full_name='Anita Yadav'
print(full_name)

Anita Yadav

# Data Types

Three Types of basic data:

     1. Numeric Data
     2. Text Data
     3. Boolean Data

# Numeric Data

In [ ]:
# integer(int): positive and negative number including 0
num1=10
num2=-50
print(num1,num2)
print(type(num1),type(num2))

10 -50
<class 'int'> <class 'int'>

In [ ]:
# float data(float): Positive and negative decimal numbers
x=2.5
y=-9.8
print(x,y)
print(type(x),type(y))

2.5 -9.8
<class 'float'> <class 'float'>

In [ ]:
# Complex data: If we have an expression like (a+bj) where a and b are real numbers and j is imaginary.
eq=2+3j
print(eq)
print(eq.real)
print(eq.imag)

(2+3j)
2.0
3.0

# Text DataType

* string
* " " or ' '

In [ ]:
name='Anita'
print(name)
print(type(name))

Anita
<class 'str'>

In [ ]:
x='10'
print(x)
print(type(x))

10
<class 'str'>

# Boolean DataType

True and False | 1 and 0 respectively.

In [ ]:
x=True
y=False
print(x)
print(y)

True
False

In [ ]:
print(type(x))

<class 'bool'>

In [ ]:
result=15>20
print(result)

False

# Type Casting

* To change a data from one data type to another datatype

In [ ]:
x=25
print(x)
print(type(x))

25
<class 'int'>

In [ ]:
y=float(x)
print(y)
print(type(y))

25.0
<class 'float'>

In [ ]:
c=int('50')
print(c)
print(type(c))

50
<class 'int'>

In [ ]:
c=int('50A')
print(c)
print(type(c))

ValueError: invalid literal for int() with base 10: '50A'

In [ ]:
d=int(True)
print(d)
print(type(d))

1
<class 'int'>

In [ ]:
b1=float('5.6')
print(b1)
print(type(b1))

5.6
<class 'float'>

In [ ]:
c1=float(False)
print(c1)
print(type(c1))

0.0
<class 'float'>

In [ ]:
num=7.89
converted=int(num)
print(converted)

7

In [ ]:
num=7.89
converted=int(round(num))
print(converted)

8

# Adv. Data Type.

         1. Sequential Data
         2. Non Sequential Data

# Sequential Data type

* When we have order between the elements/Values
       
          
           1. List
           2. Tuple
           3. String

# List

* A Datatype that stores multiple type of any data type.
* It follows the order if indexing
* List is mutable(changes are possible)
* To create a list [ ] Square Brackets
* Duplicates are allowed

In [ ]:
list1=['a','b','c','d',5,6,True,False]
print(list1)
print(type(list1))

['a', 'b', 'c', 'd', 5, 6, True, False]
<class 'list'>

# Indexing

* Gives the position or address of individual element
* Indexing start from 0
* Negative indexing starts from -1

In [ ]:
list1=['a','b','c','d',5,6,True,False]
print(list1[2])
print(list1[-6])

c
c

# Slicing

* [Start:stop:step]
* Start will be the index value fro where you start Slicing
* Stop will be +1 to the index where you want to end slicing.

In [ ]:
list1=['a','b','c','d',5,6,True,False]
#       0   1   2   3  4 5  6     7
print(list1[2:6])

['c', 'd', 5, 6]

In [ ]:
list1=['a','b','c','d',5,6,True,False]
#       0   1   2   3  4 5  6     7
print(list1[0:4])

['a', 'b', 'c', 'd']

In [ ]:
list1=['a','b','c','d',5,6,True,False]
#       0   1   2   3  4 5  6     7
print(list1[ :4])

['a', 'b', 'c', 'd']

In [ ]:
#      -8  -7   -6 -5 -4 -3 -2    -1
list1=['a','b','c','d',5,6,True,False]
#       0   1   2   3  4 5  6     7
print(list1[4:-1])

[5, 6, True]

In [ ]:
list1=['a','b','c','d',5,6,True,False]
#       0   1   2   3  4 5  6     7
print(list1[ : ])

['a', 'b', 'c', 'd', 5, 6, True, False]

In [ ]:
list1=['a','b','c','d',5,6,True,False]
#       0   1   2   3  4 5  6     7
print(list1[ 2: ])

['c', 'd', 5, 6, True, False]

In [ ]:
list1=['a','b','c','d',5,6,True,False]
#       0   1   2   3  4 5  6     7
print(list1[ : :2])

['a', 'c', 5, True]

In [ ]:
list2=[1,2,3,4,5,6,7,8,9,10]

print(list2[1::2])# even

print(list2[::2])#odd

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
print(len(list2))

10

In [ ]:
list2=[1,2,3,4,5,6,7,8,9,10]
print(list2[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Methods in list

In [ ]:
mylist=['tea','milk','sugar','ginger','coffee']
mylist[4]='elaichi'
print(mylist)

['tea', 'milk', 'sugar', 'ginger', 'elaichi']

In [ ]:
# .append()- it adds the element by the end of the list
# it adds only one elemnet at a time.
mylist.append('salt')
print(mylist)

['tea', 'milk', 'sugar', 'ginger', 'elaichi', 'salt']

In [ ]:
# .extend(list)-it will add multiple elements by the end of the list
yourlist=['ghee','curd','bread','butter','pepper']
mylist.extend(yourlist)
print(mylist)

['tea', 'milk', 'sugar', 'ginger', 'elaichi', 'salt', 'ghee', 'curd', 'bread', 'butter', 'pepper']

In [ ]:
# .insert(index,element)-To insert element in between the list
mylist.insert(1,'coco powder')
print(mylist)

['tea', 'coco powder', 'milk', 'sugar', 'ginger', 'elaichi', 'salt', 'ghee', 'curd', 'bread', 'butter', 'pepper']

In [ ]:
# .remove(element)- it delete the value permanently
mylist.remove('salt')
print(mylist)

['tea', 'coco powder', 'milk', 'sugar', 'ginger', 'elaichi', 'ghee', 'curd', 'bread', 'butter', 'pepper']

In [ ]:
horror_books=[3.5,8.9,1.1]
# pop(index)- it removes the element and also return so that we can store it in another variablt.
not_complete_horror=horror_books.pop(2)
print(horror_books)
print(not_complete_horror)

[3.5, 8.9]
1.1

In [ ]:
#  .index(element)-gives you the index value of element
print(mylist.index('sugar'))

3

# Tuple

1. It stores multiple values of different datatype
2. It follows the order of indexing
3. Tuples are immutable
4. We can create tuple by using (round brackets)
5. We can have duplicates here.

In [ ]:
tup1=(1,2,3,4,'a','b','b')
print(tup1)
print(type(tup1))

(1, 2, 3, 4, 'a', 'b', 'b')
<class 'tuple'>

In [ ]:
print(tup1[4])

a

In [ ]:
tup1=(1,2,3,4,'a','b','b')
print(tup1.index(2))

1

In [ ]:
# .count(element): it will count the frequency of a perticular element
print(tup1.count('b'))

2

In [ ]:
print(tup1.count('a'))

1

In [ ]:
print(len(tup1))

7

In [ ]:
tup2=[45,72,98,100]

In [ ]:
print(max(tup2))

100

In [ ]:
print(min(tup2))

45

In [ ]:
print(sum(tup2))

315

In [ ]:
print(sorted(tup2))

[45, 72, 98, 100]

In [ ]:
print(sorted(tup2,reverse=True))

[100, 98, 72, 45]

# String

* Text Data type
* Follows indexing
* Immutable Datatype

In [ ]:
fullName='Kalim Khan'
#         0123456789
fname=fullName[:5]
lname=fullName[6:]
print(fname,lname)

Kalim Khan

In [ ]:
x='Shivani'
# .lower()-converts all the letters to small
x.lower()

'shivani'

In [ ]:
x.upper() #.upper()-convert all the latters in capital

'SHIVANI'

In [ ]:
# .capitalized()- it will capitalized the first letter of the string
y='hi everyone'
y.capitalize()

'Hi everyone'

In [ ]:
# .title()- it will capitalized the all first letter of the string will be capital
y='hi everyone'
y.title()

'Hi Everyone'

In [ ]:
z='        A 0 1       '
# .it will remove whitespace from the start and end.
z.strip()

'A 0 1'

# Set

* Collection of unique Elemennts
* There is no order(Unorderd)
* Mutable
* We can create set by using { }

In [ ]:
s1={1,2,3,4,4}
print(s1)
print(len(s1))

{1, 2, 3, 4}
4

In [ ]:
s2={0,1,2,3,4,'Apple','Banana',True,False,'True'}
print(len(s2))
print(s2)

8
{0, 1, 2, 3, 4, 'Apple', 'Banana', 'True'}

In [ ]:
s1={1,2,3,4,4}
# .add(element)
s1.add(0)
print(s1)

{0, 1, 2, 3, 4}

In [ ]:
# .remove(element)
s1.remove(4)
print(s1)

{0, 1, 2, 3}

In [ ]:
# pop()
x=s1.pop()
print(x,s1)

0 {1, 2, 3}

In [ ]:
s1={1,2,3,4}
s2={3,4,5,6}
# .union()- All the elements present in both set
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [ ]:
s1={1,2,3,4}
s2={3,4,5,6}
# .intersection()- All the elements common in both set
s1.intersection(s2)

{3, 4}

# Dictionary

* Mainly used for mapping purpose
* Key value pair
* Mutable
* {key:Values}
* Help you to create Dataframe(Table)

In [ ]:
dic1={
    'FirstName':'Aryan',
    'LastName':'Raj',
    'Domain':'AI',
    'Age':24
}
print(dic1)

{'FirstName': 'Aryan', 'LastName': 'Raj', 'Domain': 'AI', 'Age': 24}

In [ ]:
dic1['Domain']='GenAI'
print(dic1)

{'FirstName': 'Aryan', 'LastName': 'Raj', 'Domain': 'GenAI', 'Age': 24}

In [ ]:
dic1['address']='karnataka'
print(dic1)

{'FirstName': 'Aryan', 'LastName': 'Raj', 'Domain': 'GenAI', 'Age': 24, 'address': 'karnataka'}

In [ ]:
del dic1['address']
print(dic1)

{'FirstName': 'Aryan', 'LastName': 'Raj', 'Domain': 'GenAI', 'Age': 24}

In [ ]:
print(dic1.keys())

dict_keys(['FirstName', 'LastName', 'Domain', 'Age'])

In [ ]:
print(dic1.values())

dict_values(['Aryan', 'Raj', 'GenAI', 24])

In [ ]:
x=dic1.items()
print(x)

dict_items([('FirstName', 'Aryan'), ('LastName', 'Raj'), ('Domain', 'GenAI'), ('Age', 24)])

# Operators

The symbol that specify what task to be done (operations to be done on values)

# Arithimatic Operator
Any mathematical Calculations

In [ ]:
x=5
y=2
print('Addition',x+y)
print('Subtraction',x-y)
print('multiplication',x*y)
print('division',x/y)
print('floor division',x//y)
print('power Operator/Exponential',x**y)
print('Modulus',x%y)

Addition 7
Subtraction 3
multiplication 10
division 2.5
floor division 2
power Operator/Exponential 25
Modulus 1

# Comparisional Operator

<,>,==,<=,>=,!=

In [ ]:
x=5
y=10
z=10
print(x>y)
print(x<y)
print(x==y)# values are equal
print(x!=y)# the values are not equal
print(z!=y)

False
True
False
True
False

# Assingment Operator

In [ ]:
# =,+=,-=,.....
x=5
x+=10
x

15

In [ ]:
x=5
x=+10
x

10

# Logical Operator

* AND,OR,NOT

![image.png]()

And - If both statement are true then only True

In [ ]:
x=True
y=False
print(x and y)

False

In [ ]:
x=True
y=True
print(x and y)

True

In [ ]:
x=True
y=False
print(x or y)

True

In [ ]:
x=False
y=False
print(x or y)

False

In [ ]:
x=True
print(not x)

False

In [ ]:
var1=False
var2=True
print(((var1 or var2) and (not var2)) or (not var1))
#       f     or  t   anad  f         or     T
#              t      and  f        or t
#                    f or t
#                       t

True

# Membership Operator

* in , not in

In [ ]:
basket=['x','y','z']
print('x' in basket)

True

In [ ]:
basket=['x','y','z']
print('x' not in basket)

False

# identity Operator

It tells about the value wheather they share the same reference address or not.



* is, is not

In [ ]:
x=[1,2,3]
y=[1,2,3]
print(x is not y)
print(z is x)

True
False

# Conditional Statements

* To make decision and excute particulae section of code
* Keyword: If, else,elif

In [ ]:
# if: When we have only one condition to check
age=15
if age>=18:
  print('They can vote')

In [ ]:
# else: When we have two condition to check
age=20
if age>=18:
  print('They can vote')
else:
  print('you are not eligible')

They can vote

In [ ]:
# elif: When we have multiple conditions to check
age=23
if age>=13 and age<=19:
  print('ypu are a teenager')
elif age==30:
  print('you are in your 30')
elif age>=20:
  print('You are an adult')
else:
  print('You are a  minor')

You are an adult

In [ ]:
color='Pink'

if color=='red':
  print('color of blood')
elif color=='Blue':
  print('color of calm')
else:
  print('some other color')

some other color

# Looping

A process to repeat a task for a given range, sequence,condition.



* For Loop
* while Loop

# for loop

* When we have any given range or sequence
* Less chances to get into infinite loop

In [ ]:
# range() and for
# range(start, stop, step)
# stop will be +1 to the exacct value.
for i in range(10):
  print(i)
  print('hello')

0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello

In [ ]:
for num in range(1,31):
  print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
for num in range(2,31,2):
  print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
for num in range(1,31,2):
  print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [ ]:
name='ananya'
for i in name:
  print(i,end='')

ananya

In [ ]:
list1=['x','y','z']
for a in list1:
  print(a,end=' ')

x y z

# While loop

* Whenever we want to execute the block of code till a given condition is true.
* We need to be carefull about the infinite loop

In [ ]:
x=1
while x<=10:
  print(x)
  x+=2

1
3
5
7
9

# Nested Loop

* Loop inside loop

In [ ]:
for i in range(2,7):
  for j in range(1,4):
    print(f'{i} and {j}')

2 and 1
2 and 2
2 and 3
3 and 1
3 and 2
3 and 3
4 and 1
4 and 2
4 and 3
5 and 1
5 and 2
5 and 3
6 and 1
6 and 2
6 and 3

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(f'{i} X {j}= {i*j}')
    print()
  print()

1 X 1= 1

1 X 2= 2

1 X 3= 3

1 X 4= 4

1 X 5= 5

1 X 6= 6

1 X 7= 7

1 X 8= 8

1 X 9= 9

1 X 10= 10


2 X 1= 2

2 X 2= 4

2 X 3= 6

2 X 4= 8

2 X 5= 10

2 X 6= 12

2 X 7= 14

2 X 8= 16

2 X 9= 18

2 X 10= 20


3 X 1= 3

3 X 2= 6

3 X 3= 9

3 X 4= 12

3 X 5= 15

3 X 6= 18

3 X 7= 21

3 X 8= 24

3 X 9= 27

3 X 10= 30


4 X 1= 4

4 X 2= 8

4 X 3= 12

4 X 4= 16

4 X 5= 20

4 X 6= 24

4 X 7= 28

4 X 8= 32

4 X 9= 36

4 X 10= 40


5 X 1= 5

5 X 2= 10

5 X 3= 15

5 X 4= 20

5 X 5= 25

5 X 6= 30

5 X 7= 35

5 X 8= 40

5 X 9= 45

5 X 10= 50


6 X 1= 6

6 X 2= 12

6 X 3= 18

6 X 4= 24

6 X 5= 30

6 X 6= 36

6 X 7= 42

6 X 8= 48

6 X 9= 54

6 X 10= 60


7 X 1= 7

7 X 2= 14

7 X 3= 21

7 X 4= 28

7 X 5= 35

7 X 6= 42

7 X 7= 49

7 X 8= 56

7 X 9= 63

7 X 10= 70


8 X 1= 8

8 X 2= 16

8 X 3= 24

8 X 4= 32

8 X 5= 40

8 X 6= 48

8 X 7= 56

8 X 8= 64

8 X 9= 72

8 X 10= 80


9 X 1= 9

9 X 2= 18

9 X 3= 27

9 X 4= 36

9 X 5= 45

9 X 6= 54

9 X 7= 63

9 X 8= 72

9 X 9= 81

9 X 10= 90


10 X 1= 10

10 X 2= 20

10 X 3= 30

10 X 4= 40

10 X 5= 50

10 X 6= 60

10 X 7= 70

10 X 8= 80

10 X 9= 90

10 X 10= 100

In [ ]:
for row in range(3):
  for col in range(5):
    print('*',end=' ')
  print()

* * * * *
* * * * *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(i):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5,0,-1):
  for j in range(i):
    print('*',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,6):
  for j in range(6-i):
    print(' ',end='')

  for k in range(2*i-1):
    print('*', end='')
  print()

     *
    ***
   *****
  *******
 *********

In [ ]:
for i in range(1,6):
  for j in range(6-i):
    print('*',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

# Functions

* To reuse a certain block of by just calling it.
* PreDefined Function: print(),len(),tuple(),int()
* UserDefined function: If we create our own fucntions for the use case.

# User Defined Function

In [ ]:
def displayname():# Non parameterized Function
# Defining a funtion
  print('hello everyone!')

In [ ]:
displayname() # calling the function

hello everyone!

In [ ]:
displayname()
displayname()
displayname()
displayname()
displayname()
displayname()

hello everyone!
hello everyone!
hello everyone!
hello everyone!
hello everyone!
hello everyone!

In [ ]:
def add(x,y):# Paremeteried Function
  print(x+y)

In [ ]:
add(1,2)
add(4,4)
add(1,22)

3
8
23

In [ ]:
def add(x,y=2):#Defult parameter
  print(x+y)

In [ ]:
add(10,8)

18

# Lambda Function

A lambda function is an anonymous (nameless) fucntion that you define using the lambda keyword

In [ ]:
add= lambda x,y:x+y

In [ ]:
print(add(5,3))

8

In [ ]:
print((lambda x,y:x+y)(2,3))

5